body {
  margin: 0;
  padding: 12px;
  font-family: sans-serif;
}

.right {
	float: right;
}
.left {
	float: left;
}

.clearfix {
	overflow: auto;
}

.header {
	display: block;
	overflow: auto;
	padding: 10px;
}

.priceSliderContainer {

	width: 50% !important;
	display: inline-block !important;
}
.priceSlider {
	width: 50% !important;
	display: inline-block !important;
}
.sliderText {
}
main {
	padding: 10px;
}
