body {
  margin: 0;
  padding: 12px;
  font-family: sans-serif;
}

.right {
	float: right;
}
.left {
	float: left;
}
.center {
	width: fit-content;
	margin: auto;
}
.clearfix {
	overflow: auto;
}

.header {
	display: block;
	overflow: auto;
	padding: 10px;
}

.errorMsg {
	color : rgb(205, 0, 0);
}

.successMsg {
	color: rgb(20, 160, 32);
}
.priceSliderContainer {

	width: 50% !important;
	display: inline-block !important;
}
.priceSlider {
	width: 50% !important;
	display: inline-block !important;
}
.sliderText {
}
main {
	padding: 10px;
}

.capitalize {
	text-transform: capitalize;
}

.property, .city {
	color: rgba(0, 83, 94, 0.6);
	font-size: 75%;
}

.name {
	color: rgba(0, 83, 94, 1);
	font-size: 115%;
}

.cardHeader {
	display: block;
	overflow: auto;
}

.description::first-letter {
	text-transform: uppercase;
}

.description {
	margin-top: 8px;
	display: block;
	height: 85px;
	overflow: auto;
	text-align: justify;
	color: rgba(0, 83, 94, 1);
}

.flexWrap {
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: flex;
	flex-wrap: wrap;
}

img.med {
	width: 200px;
	margin: 18px;
}
img.sm {
	width: 100px;
	margin: 18px;
}

p.sm {
	font-size: 75%;
}
#aboutBlurb {
	width: 70%;
	text-align: justify;
	margin: 18px auto 18px auto;
}
#aboutDemo {
	width: 70%;
	margin: auto;
	align: center;
	padding: 16px;
	margin-top: 45px;
	border: 2px solid rgb(0, 188, 212);
}
#aboutDemo p {
	text-align: center;
}
